# Security & Credentials
service_account.json
*.json

# Virtual Environment & Caches
.venv/
__pycache__/
*.pyc

# Heavy Models & Weights
*.pth
*.pkl
*.task
*.onnx
Models/
models/

# Dataset Files & Arrays
Dataset/
data/
*.npy
*.npz
keypoints_extracted/
emotion_keypoints_extracted/

# Log files
*.log
# Environment Variables & Secrets
.env
*.env

# Additional Keras/Model Directories
Emotion_Models/
*.keras
